{  
    "bot":{  
        "token":"NTAxNDM-----------token---------------UNuSL2Ng",
        "prefix":"!",
        "name": "",
        "iconurl": "https://raw.githubusercontent.com/xgamecoindev/xgame-infobot/master/bot/image/xgamelogo01.png",
        "debug":false
    },
    "xgamed":{  
        "port":35466,
        "username":"xgameuser",
        "password":"xxxxxxxxxxxx"
    },
    "role":{  
        "xgamester":"Xgamester",
		"support":"Support"
    },
    "mongodb":{
		"url": "",
		"db": ""
	},
    "Channels":{  
        "mining":"482719042201714708",
        "altcoin":"427168265454747667",
        "support":"506853846476128277",
        "ticketcloselog":"506854605578174464",
	    "supportprivate":"506885023920554005",
        "spanish":"506885281820049409",
        "general":"428635473049812992",
        "xgame-tipsbot":"495174097739710484",
        "stake":"506885741280755722",
        "joinchannels":"506850285323288616"
    },
    "id":{  
        "self":"379917668116856833",
        "other":[  
            "324631108731928587",
            "396465506707832844"
        ]
    },
    "coin":{  
        "symbol":"XGAME",
        "explorer":"http://www.explorer.xgamebits.org/"
    }
}
